/* Responsive screen sizes for media queries:
420px
768
920 */

  /* --------------------------------------------------------------------------- */
 /*                                GENERAL STYLES                               */
/* --------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400|Rubik:400');

:root {
  --lightgrey: #cacaca;
  --faintgrey: #282828;
  --medgrey: #3b3b3b;
  --darkgrey: #202020;

  --lightred: #cf4547;
  --darkred: #50191a;

  --lightgreen: #8df37a;
  --darkgreen: #214a19;

  --lightorange: #e2d34e;
  --darkorange: #836f40;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #111;
  color: var(--medgrey);
}

.app {
  position: relative;
  max-width: 940px;
  background: var(--darkgrey);
  box-shadow: 0 12px 50px rgba(0,0,0,.6);
  border-radius: 5px;
  margin: 30px auto 60px auto;
  padding: 40px 60px 80px 60px;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: var(--lightgrey);
  text-transform: lowercase;
}

a {
  color: var(--lightred);
}

.noselect {
  /* noselect: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
