
  /* ---------------------------------------------------- */
 /*                              about component         */
/* ---------------------------------------------------- */

.about-pomodoro {
  position: absolute;
  top: 6em;
  /* full width minus margins on either side... */
  width: calc(100% - 120px);
  background: var(--lightgrey);
  color: var(--darkgrey);
  border-radius: 6px;
  max-height: 0;
  overflow: hidden;
  opacity: .9;

  transition: .4s;
}

.close-btn-about {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
}
.close-btn-about:hover {
  color: var(--lightred);
  cursor: pointer;
}
