
  /* --------------------------------------------------------------------------- */
 /*                                PLAY/PAUSE/RESET BUTTONS                     */
/* --------------------------------------------------------------------------- */

.buttons-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.reset-button {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 40px;
  font-weight: 900;
}

.reset-button:hover {
  color: var(--lightred);
  cursor: pointer;
}

.button-progress {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* rigid font-size to keep dimensions */
  font-size: 64px;
  transition: 1s;
}

.button-progress:hover {
  cursor: pointer;
}

.button-progress-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--darkgrey);
  color: var(--lightred);
  width: 106px;
  height: 106px;
  border-radius: 100%;
  font-size: 1em;
}

.progress-canvas {
  height: 150px;
  width: 150px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left:0;
  transition: border .5s;
}

.progress-canvas:hover {
  cursor: pointer;
}

.fa-play {
  margin-left: 12px;
}