
  /* --------------------------------------------------------------------------- */
 /*                                SHOW TIME COMPONENT                          */
/* --------------------------------------------------------------------------- */

.show-time,
.minutes,
.seconds-group {
  display: inline-block;
}

.seconds-group {
  display: inline-block;
  margin-left: 10px;
}

.minutes {
  display: inline-block;
  font-size: 7.2em;
  letter-spacing: -.05em;
}

.seconds {
  font-size: 3.2em;;
  color: #999;
  text-align: right;
}

.milliseconds{
  font-size: 1.6em;
  text-align: right;
}
